@import "front/header";
@import "front/footer";
// @import "front/modal";
// @import "front/form";
// @import "front/select";
// @import "front/accordion_css";
// @import "front/accordion_js";
// @import "front/input_checkbox";
// @import "front/input_radio";
// @import "front/input_range_colored";
// @import "front/input_range_double";
// @import "front/video_player";
// @import "front/loadscreen";
@import "front/spoiler";
// @import "front/tabs";
// @import "front/up_button";
// @import "front/pagination"; 

body {
	margin: 0 auto;
	// max-width: $page-max-width+px;
	font-family: $font-2;
	font-weight: 500;
	font-size: $font-size-default;
	color: $color-2;
	background-color: $color-3;

	&._locked {
		overflow: hidden;
	}

	// Variables for JS manipulations
	--header-height: 0px;
	--header-offset-top: 0px;
	--header-offset-top-default: 0px;
	--media-mobile: #{$mobile};
	--timer-menu: #{$timer-menu};
	--timer-modal: #{$timer-modal};
}

.container {
	width: 100%;
	max-width: $container-width+px;
	min-width: calc($page-min-width - (100vw - 100%));
	margin: 0 auto;
	padding: 0 $container-padding+px;
}

.main {
	margin-top: 60px;
	padding-top: calc(var(--header-height) + var(--header-offset-top-default));
	padding-bottom: 20px;

	// Section margins Example
	// &__section {
	// 	.--page-home & {margin-top: 67px;}
	// 	.--page-about & {margin-top: 10px;}
	// }
	&__container {
		display: grid;
		grid-template-columns: 51.1% 44.25%;
		justify-content: space-between;
		}
	&__author {
		grid-row: span 2;
	}
	&__controls {}
	&__dropdown {
		grid-column: 2;
		height: 88px;
	}
	&__article-box {
		margin-top: 33px;
	}
	&__card-box {}
}

.author {
	display: grid;
	grid-template-columns: 210px auto;
	grid-template-rows: 72px 159px;
	grid-column-gap: 40px;
	&__img {
		grid-row: span 2;
		margin-bottom: 15px;
		width: 206px;
		height: 206px;
		background: linear-gradient(138.85deg, #404d62, #4f5a6b); 
		border-radius: 24px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__contact-links {
		grid-column: 1;
		grid-row: 3;
	}
	&__title {
		grid-column: 2;
		// margin-bottom: 20px;
		font-family: $font-1;
		font-weight: 700;
		font-size: 48px;
		line-height: 1;
	}
	&__text {
		@include text-nowrap-multi(12);
		grid-column: 2;
		grid-row: span 2;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
	}
}

.contact-links {
	display: flex;
	justify-content: space-between;
	&__link, &__link:visited {
		display: inline-block;
		font-size: 24px;
		i {
			transition: color $timer-hover;
		}
		&:hover i {
			color: $color-7;
		}
	}
}

.controls {
	display: flex;
	justify-content: flex-end;
	& > * {
		// margin-left: 25px;
		margin-left: 4.854%;
		flex-shrink: 0;
	}
	&__button {
		i {
			margin-right: 7px;
			font-size: 24px;
		}
		&--contact {
			@media (min-width: $mobile+1+px) {
				display: none;
			}
		}
	}
	input {
		display: none;
	}
	&__lang {
		display: flex;
		width: 121px;
		height: 44px;
		background-color: rgba(0, 0, 0, 0.1);
		border-radius: 16px;
		label {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			height: 44px;
			width: 169px;
			background: linear-gradient(180deg, $color-7 0%, $color-8 100%, $color-8 100%);
			border-radius: 12px;
			border: 4px solid transparent;
			&:not(._inactive) {
				border-radius: 12px;
				border-color: #556072;
			}
			&._inactive {
				background: none;
				transition: border-color $timer-hover,  text-shadow $timer-hover;
				cursor: pointer;
				&:hover {
					text-shadow: 0 0 5px rgba(255,255,255,0.7);
					border-color: #556072;
				}
			}
		}
	}
	&__theme {
		display: inline-block;
		width: 44px;
		height: 44px;
		overflow: hidden;
		position: relative;
		label {
			display: inline-block;
			width: 100%;
			height: 100%;
			border: 4px solid #556072;
			border-radius: 50%;
			background-color: $color-8;
			transition: border-color .3s, background-color .3s;
			cursor: pointer;
			&:hover {
				background-color: $color-4;
			}
		}
		span {
			position: absolute;
			top: calc(50% - 11px);
			left: calc(50% - 11px);
			display: inline-block;
			width: 22px;
			height: 22px;
			border-radius: 50%;
			overflow: hidden;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				display: inline-block;
				width: 44px;
				height: 100%;
				background-image: linear-gradient(to right, transparent 11px, #C7E3F6 11px, #C7E3F6 33px, transparent 33px);
				transition: left .3s;
			}
		}
	}
	&__theme input:checked + label {
		background-color: $color-4;
		border-color: $color-5;
		&:hover {
			background-color: $color-8;
		}
		span:before {
			left: -22px;
		}
	} 
}

.article-box {
	display: flex;
	flex-direction: column;
	&__article-preview {
		&:not(:last-child) {
			margin-bottom: 25px;
		}
	}
}
.article-preview {
	padding: 20px;
	display: grid;
	grid-template-columns: 93px auto;
	grid-column-gap: 32px;
	border-radius: 16px;
	background-color: $color-4;
	border: 4px solid transparent;
	transition: all $timer-hover;
	&:hover {
		border-color: #556072;
	}
	&__img {
		grid-row: span 2;
		width: 93px;
		height: 93px;
		border-radius: 24px;
		overflow: hidden;
		background: linear-gradient(138.85deg, #3b495e, #404e61);
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title {
		@include text-nowrap-multi(1);
		font-family: $font-1;
		font-weight: 700;
		font-size: 24px;
	}
	&__text {
		@include text-nowrap-multi(2);
		margin-top: 7px;
		font-weight: 500;
		font-size: 16px;
		line-height: 150%;
	}
}

.card-box {
	display: grid;
	grid-template-columns: repeat(auto-fit, 243px);
	grid-template-rows: repeat(2, auto);
	grid-auto-rows: 0px;
	grid-column-gap: 15px;
	// grid-gap: 25px;
	justify-content: space-between;
	overflow: hidden;
}
.card-preview {
	display: block;
	position: relative;
	height: 243px;
	overflow: hidden;
	&:first-of-type {
		margin-bottom: 25px;
	}
	&__img {
		display: block;
		height: 100%;
		overflow: hidden;
		border-radius: 24px;
		background: linear-gradient(138.85deg, #3e4b60, #485465); 
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title {
		@include text-nowrap-multi(1);
		position: absolute;
		bottom: -1px;
		left: 0;
		padding: 0 24px;
		border-radius: 24px;
		width: 100%;
		height: 72px;
		line-height: 64px;
		background-color: $color-4;
		font-weight: 500;
		font-size: 16px;
		border: 4px solid transparent;
		transition: all $timer-hover;
	}
	&:hover &__title {
		border-color: #556072;
	}
}




// #wpadminbar { // test
// 	position: fixed;
// 	top: 0;
// 	left: 0;
// 	height: 32px;
// 	width: 100%;
// 	z-index: 999;
// 	background-color: #333;
// 	color: white;
// 	@media (max-width: $mobile+px) {
// 		height: 46px;
// 	}
// 	@media (max-width: 500px) {
// 		height: 50px;
// 	}
// }