* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

:focus,
:active {
  outline: none;
}

button,
input,
textarea {
  font-family: inherit;
}

button,
input[type=submit],
input[type=reset] {
  cursor: pointer;
}

input::-ms-clear {
  display: none;
}

ul {
  list-style: none;
}

.svg-sprite {
  width: 0;
  height: 0;
  overflow: hidden;
}

.noscript-alert {
  position: fixed !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 999 !important;
  width: 100vw !important;
  padding: 25px !important;
  background-color: #ccc !important;
  -webkit-box-shadow: 0 -2px 7px 0 #333 !important;
  box-shadow: 0 -2px 7px 0 #333 !important;
  text-align: center !important;
  font-family: Arial, sans-serif !important;
  font-size: 18px !important;
  line-height: 26px !important;
  color: #000 !important;
}

.noscript-alert a,
.noscript-alert a:visited {
  text-decoration: underline !important;
  color: #00f !important;
}

@font-face {
  font-family: "iconfont";
  src: url("../fonts/iconfont.woff2") format("woff2"), url("../fonts/iconfont.woff") format("woff"), url("../fonts/iconfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  font-family: "iconfont" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e907";
}

.icon-download:before {
  content: "\e900";
}

.icon-link:before {
  content: "\e902";
}

.icon-mail:before {
  content: "\e903";
}

.icon-send:before {
  content: "\e904";
}

.icon-twitter:before {
  content: "\e905";
}

.icon-bitrix:before {
  content: "\e901";
}

.icon-wp:before {
  content: "\e906";
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: local("Gotham"), url("../fonts/gotham_bold.woff2") format("woff2"), url("../fonts/gotham_bold.woff") format("woff"), url("../fonts/gotham_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  font-display: swap;
  src: local("Gotham"), url("../fonts/gotham_reg.woff2") format("woff2"), url("../fonts/gotham_reg.woff") format("woff"), url("../fonts/gotham_reg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  font-display: swap;
  src: local("Inter"), url("../fonts/Inter-SemiBold.woff2") format("woff2"), url("../fonts/Inter-SemiBold.woff") format("woff"), url("../fonts/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.g-button,
.g-button:visited {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 44px;
  width: 169px;
  white-space: nowrap;
  background: -webkit-gradient(linear, left top, left bottom, from(#5561FF), color-stop(100%, #3643FC), to(#3643FC));
  background: -o-linear-gradient(top, #5561FF 0%, #3643FC 100%, #3643FC 100%);
  background: linear-gradient(180deg, #5561FF 0%, #3643FC 100%, #3643FC 100%);
  border-radius: 12px;
  -webkit-transition: color 0.15s, -webkit-box-shadow 0.15s;
  transition: color 0.15s, -webkit-box-shadow 0.15s;
  -o-transition: color 0.15s, box-shadow 0.15s;
  transition: color 0.15s, box-shadow 0.15s;
  transition: color 0.15s, box-shadow 0.15s, -webkit-box-shadow 0.15s;
}

.g-button:hover,
.g-button:visited:hover {
  -webkit-box-shadow: inset 0 1px 3px 0 #444;
  box-shadow: inset 0 1px 3px 0 #444;
  color: #ccc;
}

.header {
  position: fixed;
  top: var(--header-offset-top);
  left: 0;
  z-index: 49;
  width: 100%;
  padding: 10px 0;
  background-color: lightseagreen;
}

.header__print-address,
.header__print-address-qr {
  display: none;
}

.header-menu-turn-off-area {
  position: fixed;
  top: calc(var(--header-height) + var(--header-offset-top));
  left: 0;
  z-index: -1;
  width: 100vw;
  height: calc(100vh - var(--header-height) - var(--header-offset-top));
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  -o-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
}

.header-menu-turn-off-area._active {
  opacity: 1;
  visibility: visible;
}

.header-menu-open-btn {
  font-size: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-menu-close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: darkred;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-submenu-back-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: blue;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-menu-hide-wrapper,
.header-submenu-hide-wrapper {
  position: relative;
  background-color: darkslategrey;
}

.header-submenu-hide-wrapper {
  background-color: darkslateblue;
}

.header-submenu-hide-wrapper .container {
  background-color: #aaa;
}

.header-level--mobile {
  background-color: #fff;
}

.header-level--mobile .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-level--top {
  background-color: #eee;
}

.header-level--middle {
  background-color: #ccc;
}

.header-level--bottom {
  background-color: #aaa;
}

.logo__link,
.logo__link:visited {
  font-size: 40px;
}

.header-menu,
.header-submenu {
  background-color: #fff;
}

.header-menu__items,
.header-submenu__items {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: thistle;
  scrollbar-width: thin;
  scrollbar-color: #555 thistle;
}

.header-menu__items::-webkit-scrollbar,
.header-submenu__items::-webkit-scrollbar {
  width: 3px;
}

.header-menu__items::-webkit-scrollbar-track,
.header-submenu__items::-webkit-scrollbar-track {
  background: thistle;
  border-radius: 3px;
}

.header-menu__items::-webkit-scrollbar-thumb,
.header-submenu__items::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}

.header-menu__link,
.header-menu__link:visited,
.header-submenu__link,
.header-submenu__link:visited {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  font-size: 16px;
  white-space: nowrap;
  background-color: orange;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.header-menu__link:hover,
.header-menu__link._active,
.header-menu__link:visited:hover,
.header-menu__link:visited._active,
.header-submenu__link:hover,
.header-submenu__link._active,
.header-submenu__link:visited:hover,
.header-submenu__link:visited._active {
  background-color: peachpuff;
}

.header-menu__link._active:before,
.header-menu__link:visited._active:before,
.header-submenu__link._active:before,
.header-submenu__link:visited._active:before {
  background-color: yellow;
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: default;
}

.header-submenu__link,
.header-submenu__link:visited {
  background-color: sandybrown;
}

.header-submenu__link:hover,
.header-submenu__link:visited:hover {
  background-color: lightcoral;
}

.submenu-drop-link {
  font-weight: bold;
}

.this-page,
.this-page:visited {
  pointer-events: none;
}

.footer {
  margin-top: 50px;
  margin-bottom: 60px;
}

.footer__copy {
  font-family: Gotham, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

.spoiler {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: 4px solid transparent;
  border-radius: 16px;
  background-color: #38475E;
  overflow: hidden;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
  z-index: 2;
}

.spoiler._visible {
  border-color: #556072;
}

.spoiler__header {
  padding: 12px;
  font-weight: 600;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.spoiler__header-inner {
  padding: 0 24px;
  height: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.spoiler__header-inner i {
  font-size: 7px;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.spoiler__header:hover .spoiler__header-inner {
  background-color: rgba(255, 255, 255, 0.1);
}

.spoiler._visible .spoiler__header-inner i {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.spoiler__content {
  padding: 3px 26px 30px 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
}

.spoiler__content p {
  padding-right: 10px;
  max-height: 500px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #556072 transparent;
}

.spoiler__content p::-webkit-scrollbar {
  width: 4px;
}

.spoiler__content p::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
}

.spoiler__content p::-webkit-scrollbar-thumb {
  background: #556072;
  border-radius: 5px;
}

body {
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #49576D;
  --header-height: 0px;
  --header-offset-top: 0px;
  --header-offset-top-default: 0px;
  --media-mobile: 782;
  --timer-menu: 0.5s;
  --timer-modal: 0.7s;
}

body._locked {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1196px;
  min-width: calc(320px - (100vw - 100%));
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  margin-top: 60px;
  padding-top: calc(var(--header-height) + var(--header-offset-top-default));
  padding-bottom: 20px;
}

.main__container {
  display: grid;
  grid-template-columns: 51.1% 44.25%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main__author {
  grid-row: span 2;
}

.main__dropdown {
  grid-column: 2;
  height: 88px;
}

.main__article-box {
  margin-top: 33px;
}

.author {
  display: grid;
  grid-template-columns: 210px auto;
  grid-template-rows: 72px 159px;
  grid-column-gap: 40px;
}

.author__img {
  grid-row: span 2;
  margin-bottom: 15px;
  width: 206px;
  height: 206px;
  background: -o-linear-gradient(311.15deg, #404d62, #4f5a6b);
  background: linear-gradient(138.85deg, #404d62, #4f5a6b);
  border-radius: 24px;
  overflow: hidden;
}

.author__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.author__contact-links {
  grid-column: 1;
  grid-row: 3;
}

.author__title {
  grid-column: 2;
  font-family: Gotham, Arial, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
}

.author__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
  overflow: hidden;
  grid-column: 2;
  grid-row: span 2;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.contact-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact-links__link,
.contact-links__link:visited {
  display: inline-block;
  font-size: 24px;
}

.contact-links__link i,
.contact-links__link:visited i {
  -webkit-transition: color 0.15s;
  -o-transition: color 0.15s;
  transition: color 0.15s;
}

.contact-links__link:hover i,
.contact-links__link:visited:hover i {
  color: #5561FF;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.controls > * {
  margin-left: 4.854%;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.controls__button i {
  margin-right: 7px;
  font-size: 24px;
}

.controls input {
  display: none;
}

.controls__lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 121px;
  height: 44px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.controls__lang label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 44px;
  width: 169px;
  background: -webkit-gradient(linear, left top, left bottom, from(#5561FF), color-stop(100%, #3643FC), to(#3643FC));
  background: -o-linear-gradient(top, #5561FF 0%, #3643FC 100%, #3643FC 100%);
  background: linear-gradient(180deg, #5561FF 0%, #3643FC 100%, #3643FC 100%);
  border-radius: 12px;
  border: 4px solid transparent;
}

.controls__lang label:not(._inactive) {
  border-radius: 12px;
  border-color: #556072;
}

.controls__lang label._inactive {
  background: none;
  -webkit-transition: border-color 0.15s, text-shadow 0.15s;
  -o-transition: border-color 0.15s, text-shadow 0.15s;
  transition: border-color 0.15s, text-shadow 0.15s;
  cursor: pointer;
}

.controls__lang label._inactive:hover {
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  border-color: #556072;
}

.controls__theme {
  display: inline-block;
  width: 44px;
  height: 44px;
  overflow: hidden;
  position: relative;
}

.controls__theme label {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 4px solid #556072;
  border-radius: 50%;
  background-color: #3643FC;
  -webkit-transition: border-color 0.3s, background-color 0.3s;
  -o-transition: border-color 0.3s, background-color 0.3s;
  transition: border-color 0.3s, background-color 0.3s;
  cursor: pointer;
}

.controls__theme label:hover {
  background-color: #38475E;
}

.controls__theme span {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 11px);
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  overflow: hidden;
}

.controls__theme span:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 44px;
  height: 100%;
  background-image: -o-linear-gradient(left, transparent 11px, #C7E3F6 11px, #C7E3F6 33px, transparent 33px);
  background-image: linear-gradient(to right, transparent 11px, #C7E3F6 11px, #C7E3F6 33px, transparent 33px);
  -webkit-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}

.controls__theme input:checked + label {
  background-color: #38475E;
  border-color: #D6E1E9;
}

.controls__theme input:checked + label:hover {
  background-color: #3643FC;
}

.controls__theme input:checked + label span:before {
  left: -22px;
}

.article-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.article-box__article-preview:not(:last-child) {
  margin-bottom: 25px;
}

.article-preview {
  padding: 20px;
  display: grid;
  grid-template-columns: 93px auto;
  grid-column-gap: 32px;
  border-radius: 16px;
  background-color: #38475E;
  border: 4px solid transparent;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.article-preview:hover {
  border-color: #556072;
}

.article-preview__img {
  grid-row: span 2;
  width: 93px;
  height: 93px;
  border-radius: 24px;
  overflow: hidden;
  background: -o-linear-gradient(311.15deg, #3b495e, #404e61);
  background: linear-gradient(138.85deg, #3b495e, #404e61);
}

.article-preview__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.article-preview__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  font-family: Gotham, Arial, sans-serif;
  font-weight: 700;
  font-size: 24px;
}

.article-preview__text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-top: 7px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.card-box {
  display: grid;
  grid-template-columns: repeat(auto-fit, 243px);
  grid-template-rows: repeat(2, auto);
  grid-auto-rows: 0px;
  grid-column-gap: 15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  overflow: hidden;
}

.card-preview {
  display: block;
  position: relative;
  height: 243px;
  overflow: hidden;
}

.card-preview:first-of-type {
  margin-bottom: 25px;
}

.card-preview__img {
  display: block;
  height: 100%;
  overflow: hidden;
  border-radius: 24px;
  background: -o-linear-gradient(311.15deg, #3e4b60, #485465);
  background: linear-gradient(138.85deg, #3e4b60, #485465);
}

.card-preview__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-preview__title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  position: absolute;
  bottom: -1px;
  left: 0;
  padding: 0 24px;
  border-radius: 24px;
  width: 100%;
  height: 72px;
  line-height: 64px;
  background-color: #38475E;
  font-weight: 500;
  font-size: 16px;
  border: 4px solid transparent;
  -webkit-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.card-preview:hover .card-preview__title {
  border-color: #556072;
}

.page404 {
  width: 100%;
}

.page404__logo {
  margin: 15px 0;
}

.page404__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Gotham, Arial, sans-serif;
}

.page404__main h1 {
  font-size: 60px;
  font-weight: bold;
  color: #777;
}

.page404__main h2 {
  font-size: 25px;
  font-weight: bold;
}

.page404__main p {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
}

.page404__main a,
.page404__main a:visited {
  margin-top: 70px;
  text-decoration: underline;
}

.page404__main a:hover,
.page404__main a:visited:hover {
  color: blue;
}

@media (min-width: 782px) {
  .header-submenu-hide-wrapper {
    position: absolute;
    top: 150%;
    left: 0;
    width: 100%;
    padding: 10px 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .header-submenu-hide-wrapper._active {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 783px) {
  .header-menu-open-btn {
    display: none;
  }

  .header-menu-close-btn {
    display: none;
  }

  .header-submenu-back-btn {
    display: none;
  }

  .header-menu__item,
  .header-submenu__item {
    position: relative;
  }

  .controls__button--contact {
    display: none;
  }
}

@media (max-width: 782px) {
  .header-menu-hide-wrapper,
  .header-submenu-hide-wrapper {
    position: fixed;
    top: calc(var(--header-height) + var(--header-offset-top));
    right: -301px;
    width: 300px;
    height: calc(100% - var(--header-height) - var(--header-offset-top));
    -webkit-transition: right 0.5s;
    -o-transition: right 0.5s;
    transition: right 0.5s;
  }

  .header-menu-hide-wrapper._active,
  .header-submenu-hide-wrapper._active {
    right: 0;
  }

  .header-menu,
  .header-submenu {
    padding: 10px;
  }

  .header-menu__items,
  .header-submenu__items {
    max-height: 100%;
    overflow: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
}

@media (max-width: 782px) and (max-height: 480px) {
  .header-menu,
  .header-submenu {
    padding: 0;
  }
}

@media print {
  * {
    background: #fff !important;
    color: #000 !important;
  }

  .container {
    padding: 0;
  }

  img,
  pre,
  blockquote,
  table,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    page-break-inside: avoid;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  .header-menu-turn-off-area,
  .header-menu-open-btn,
  .header-menu-close-btn,
  .header-submenu-back-btn,
  .header-menu-hide-wrapper,
  .header-submenu-hide-wrapper,
  .breadcrumbs,
  .form,
  .up-button,
  .noscript-alert {
    display: none;
  }

  .header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__print-address,
  .header__print-address-qr {
    display: block;
    font-family: Arial;
    font-size: 26px;
  }

  a,
  a:visited {
    font-weight: bold;
    text-decoration: underline;
  }
}